## Questions 1:

How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.0.1

## Questions 2:

How to create a series from a numpy array?

In [2]:
import numpy as np

# Numpy array
data = np.array(['a','b','c','d','e'])
print(data)

# Creating seires
series = pd.Series(data)
print(series)

['a' 'b' 'c' 'd' 'e']
0    a
1    b
2    c
3    d
4    e
dtype: object

## Questions 3:

How to convert the index of a series into a column of a dataframe?

In [3]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})
print(df)

  Roll Number     Name  Marks In Percentage Grade  Subject
0     20CSE29   Amelia                   97     A  Physics
1     20CSE49      Sam                   90     A  Physics
2     20CSE36     Dean                   70     C  Physics
3     20CSE44  Jessica                   82     B  Physics

## Questions 4:

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [4]:
import seaborn as sns

print("All dataset present in the seaborn library :", sns.get_dataset_names()) # list of all dataset in the seaborn


mpg = sns.load_dataset('mpg')
print("mpg data set from seaborn :", mpg) # loading mpg data set from seaborn library

C:\Users\Admin\anaconda3\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\Admin\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

All dataset present in the seaborn library : ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
mpg data set from seaborn :       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

## Questions 5:
    
Which country origin cars are a part of this dataset?

In [5]:
print("Country origin:",mpg.origin.unique())

Country origin: ['usa' 'japan' 'europe']

## Questions 6:
    
Extract the part of the dataframe which contains cars belonging to 'usa'

In [6]:
df = pd.DataFrame(mpg)
print(" Data set extracted only for usa :", df[df['origin'].str.contains("usa")])

 Data set extracted only for usa :       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]